<div class="text-center m-0 p-0">
    <div class="row g-0  text-white p-5">
        <div class="col-md-4  col-12">
            <h3> LOCATION</h3>
            <p> 2215 John Daniel Drive </p>
            <p> Clark, MO 65243 </p>
        </div>
        <div class="col-md-4 my-md-0 my-5 col-12">
            <h3>AROUND THE WEB</h3>
            <div class="mt-3">
                <span> <i class="fa-brands fa-facebook m-0"></i> </span>

                <span> <i class="fa-brands fa-x-twitter"></i></span>
                <span> <i class="fa-brands fa-linkedin-in"></i></span>
                <span> <i class="fa-solid fa-globe"></i> </span>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <h3> ABOUT FREELANCER</h3>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
    </div>


    <p>Copyright © Your Website 2023</p>



</div>