<section >
    <div class="d">
        <h2 class="my-4 text-center">ABOUT COMPONENT</h2>
        <div class="text-center ">
            <span class="me-3 spanComponent"></span>
            <i class="fa-solid fa-star"></i>
            <span class="ms-3 spanComponent"></span>
        </div>
        <div class="mt-3 d-md-flex  justify-content-around px-5 container  ">
            <div class="px-4">Freelancer is a free bootstrap theme created by Route. The download includes the complete
                source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                customization.</div>
            <div class="mt-4 mt-md-0 px-4">Freelancer is a free bootstrap theme created by Route. The download includes the complete
                source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy
                customization.</div>

        </div>
    </div>
</section>